body {
    background-color: #FFEEDA;
}

.bg-info, .btn-info, .input-group-text.bg-info {
    background-color: #844C13 !important;
    border-color: #844C13 !important; 
}

.form-check-input:checked {
    background-color: #844C13 !important;
    border-color: #844C13 !important;
}

.text-info, #btnRegister {
    color: #844C13 !important;
}

